#hero{
    position: relative;
    padding: 10px;
    margin: 0px auto 50px;
    width: 1200px;
}
#hero h1{
    font-family: CurveFont;
    font-size: 4rem;
    font-weight: lighter;
    word-spacing: 1rem;
    position: absolute;
    color: white;
    z-index: 10;
    
    width: 100%;
    top:50%;
    transform: translate(0,-50%);
    margin: 0;
    text-align: center;
    vertical-align: middle;

}

.main-photo{
    position: relative;
    margin: auto;
    aspect-ratio: 16/9;
    border-radius: 30px;
    overflow: hidden;
    background: url(../img/hero.png);
}
.main-photo::before{
    content: '';
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}
.main-photo::after{
    content: '';
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.05);
}
nav{
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    top: 20px;
    
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero .logo img{
    width:  4.5rem;
    padding-left: 1rem;
}
#links a{
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;
    scroll-behavior: smooth;
}
#callToAction{
    font-family: BoldFont;
    font-size: large;

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    background-color: var(--cardColor);
    color: var(--bg);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: box-shadow 0.5s;
    z-index: 10;
}
#callToAction:hover{
    box-shadow: 0px 0px 10px var(--bg);
}