:root{
    --bg: #F2DAB7;
    --text: #4E5A72;
    --cardColor: #BF5670;
    --cardShadow: #6D4156;
 
    --img-size-pc: 1200px; 
 
    background-color: var(--bg);
    color: var(--text);
    font-family: ContentFont;
 }
 @font-face {
     font-family: CurveFont;
     src: url(../font/ImperialScript-Regular.ttf);
 }
 @font-face {
     font-family: BoldFont;
     src: url(../font/Righteous-Regular.ttf);
 }
 @font-face {
     font-family: HeadingFont;
     src: url(../font/DMSerifDisplay-Regular.ttf);
 }
 @font-face {
     font-family: ContentFont;
     src: url(../font/Bitter-VariableFont_wght.ttf);
 }
 *{
     box-sizing: border-box;
 }
 body{
     position: relative;
     padding: 0;
     margin: 0;
 }
 .hoverable{
     position: relative;
 }
 .hoverable::before ,.hoverable::after{
     content: "";
     position: absolute;
     width: 120%;
     left: -10%;
     height: 100%;
     background-color: white;
     mask-image: url(../img/border.png);
     mask-size: cover;
     mask-position: center;
     opacity: 0;
     transition-property: opacity;
     transition-duration: 0.2s;
     transition-timing-function: ease-in-out;
 }
 .hoverable::before{
     bottom: 100%;
 }
 .hoverable::after{
     top: 100%;
     transform: rotate(180deg);
 }
 .hoverable:hover::before ,.hoverable:hover::after{
     opacity: 1;
 }
#footer-wrapper{
    
    background-color: var(--cardColor);
    padding: 20px;
}
footer{
    background-color: var(--cardColor);
    margin-top: 30px;
    display: flex;
    width: var(--img-size-pc);
    margin: 0 auto;
    color: white;
}
footer .logo{
    align-self: center;
}
footer .logo img{
    width:  6rem;
    padding-left: 1rem;
}
footer>*{
    flex: 1;
}
footer h4{
    margin-bottom: 10px;
}
footer a, footer .contact{
    display: block;
    margin-bottom: 6px;
}
footer>#links>a:hover{
    color: var(--bg);
}